#Database configuration
DB_HOST=jdbc:mysql://{addresss}:{port}/cinemabooking
DB_USERNAME=
DB_PASSWORD=

#JWT
JWT_SECRET={ask AI to gen 512-bit for HS512}
JWT_EXPIRATION_MS=3600000

#PayOS
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

#MiniO
MINIO_URL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

#Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=